<% @contact.typus == 'Juristische Person' ? s_kind = 'se' : s_kind = 'pp' %>
<div class="form-group">
  <div class="col-sm-5 col-md-5 col-lg-10">
    <input type="hidden" name="id" id="id" value="<%= @contact.id %>">
    <input type="hidden" name="typus" id="typus" value="<%= @contact.typus %>">
  </div>
</div>

<% @sections.select { |se| se.kind == s_kind }.each do |s| %>
  <div class="form-group">
    <label class="col-sm-3 col-md-3 col-lg-<%= @width %> control-label"><font color="black" size="3"><%= s.name %></font></label>
  </div>

  <% s.positions.order('pos').each do |p| %>
    <% next if p.auto %>
    <div class="form-group" <%= p.name == 'se_art' ? 'style="display: none"' : '' %> id="form_<%= p.name %>">
      <label class="col-sm-3 col-md-3 col-lg-<%= @width %> control-label"><%= p.displayname %></label>
      <div class="col-sm-9 col-md-9 col-lg-<%= @width_2 %>">
        <% if p.html_type == 'text' %>
          <input type="text" class="form-control input-sm" name="<%= p.name %>" id="<%= p.name %>" value="<%= @contact.send p.name %>" placeholder="<%= p.placeholder %>" <%= p.required ? 'required' : '' %> >
        <% elsif p.html_type == 'select' %>
          <select style="width:150px;" name="<%= p.name %>" id="<%= p.name %>" data-placeholder="" data-allow-clear="true"  <%= p.required ? 'required' : '' %> <%= p.name == 'nilastate_id' ? "onchange='visible(\"se_art\")'" : '' %>>
            <% if p.name == 'kontaktinhaber' %>
              <option></option>
              <% @contactowners.each do | co | %>
                <option value="<%= co.vorname %> <%= co.name %>" <%= @contact.kontaktinhaber == "#{co.vorname} #{co.name}" ? 'selected' : '' %>><%= co.vorname %> <%= co.name %></option>
              <% end %>
            <% elsif p.name == 'titel'%>
              <option></option>
              <% @titel.each do | t | %>
                <option value="<%= t %>" <%= @contact.titel == t ? 'selected' : '' %>><%= t %></option>
              <% end %>
            <% elsif p.name == 'se_ap_job_titel'%>
              <option></option>
              <% @titel.each do | t | %>
                <option value="<%= t %>" <%= @contact.se_ap_job_titel == t ? 'selected' : '' %>><%= t %></option>
              <% end %>
            <% elsif p.name == 'aktiv_inaktiv' %>
              <% @contact.aktiv_inaktiv = 'Aktiv' if  @contact.id == 0 %>
              <% @active_inactive.each do | a | %>
                <% next if a == '' %>
                <option value="<%= a %>" <%= @contact.aktiv_inaktiv == a ? 'selected' : '' %>><%= a %></option>
              <% end %>
            <% elsif p.name == 'nilastate_id' %>
              <option></option>
              <% @states.select { |s| s.typus == s_kind }.each do | st | %>
                <option value="<%= st.id %>" <%= @contact.nilastate_id.to_i == st.id.to_i ? 'selected' : '' %>><%= st.name %></option>
              <% end %>
            <% elsif p.name == 'anrede_typ' %>
              <% { 0 => 'Sie', 1 => 'Du' }.each do | d, v | %>
                <option value="<%= d %>" <%= @contact.anrede_typ.to_i == d.to_i ? 'selected' : '' %>><%= v %></option>
              <% end %>
            <% elsif p.name == 'versand_newsletter' %>
              <% @distributionstates.each do | d | %>
                <% next if d.name == 'Kontaktinhaber' %>
                <option value="<%= d.id %>" <%= @contact.versand_newsletter.to_i == d.id.to_i ? 'selected' : '' %>><%= d.name %></option>
              <% end %>
            <% elsif p.name == 'versand_kalender' %>
              <% @distributionstates.each do | d | %>
                <option value="<%= d.id %>" <%= @contact.versand_kalender.to_i == d.id.to_i ? 'selected' : '' %>><%= d.name %></option>
              <% end %>
            <% elsif p.name == 'versand_aktuelles' %>
              <% @distributionstates.each do | d | %>
                <% next if  d.name == 'Kontaktinhaber' %>
                <option value="<%= d.id %>" <%= @contact.versand_aktuelles.to_i == d.id.to_i ? 'selected' : '' %>><%= d.name %></option>
              <% end %>
            <% elsif p.name == 'sprache' %>
              <% @language.each do | s | %>
                <option value="<%= s %>" <%= @contact.sprache == s ? 'selected' : '' %>><%= s %></option>
              <% end %>
            <% elsif p.name == 'land' %>
              <option></option>
              <% @countries.each do | country | %>
                <option value="<%= country.name %>" <%= @contact.land == "#{country.name}" ? 'selected' : '' %>><%= country.name %></option>
              <% end %>
             <% elsif p.name == 'land_geschaeftlich' %>
              <option></option>
              <% @countries.each do | country | %>
                <option value="<%= country.name %>" <%= @contact.land_geschaeftlich == "#{country.name}" ? 'selected' : '' %>><%= country.name %></option>
              <% end %>
            <% elsif p.name == 'anrede' %>
              <option></option>
              <% @salutation.each do | a | %>
                <option value="<%= a %>" <%= @contact.anrede == a ? 'selected' : '' %>><%= a %></option>
              <% end %>
            <% elsif p.name == 'se_ap_anrede' %>
              <option></option>
              <% @salutation.each do | a | %>
                <option value="<%= a %>" <%= @contact.se_ap_anrede == a ? 'selected' : '' %>><%= a %></option>
              <% end %>
            <% elsif p.name == 'orphan_id' %>
              <option vaule='-1'></option>
              <% @orphans.each do | o | %>
                <option value="<%= o.id %>" <%= @contact.orphan_id == o.id ? 'selected' : '' %>><%= o.name %></option>
              <% end %>
            <% elsif p.name == 'se_art' %>
              <option></option>
              <% @se_kind.each do | s | %>
                <option value="<%= s %>" <%= @contact.se_art == s ? 'selected' : '' %>><%= s %></option>
              <% end %>
            <% end %>
          </select>
        <% else %>
          <textarea class="form-control input-sm" rows="5" name="<%= p.name %>" id="<%= p.name %>"><%= @contact.send p.name %></textarea>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
