
<div class="form-group">
  <label class="col-sm-2 col-md-2 col-lg-2 control-label">Name</label>
  <div class="col-sm-9 col-md-9 col-lg-2">
    <input type="text" class="form-control input-sm" name="name" id="name" />
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 col-md-2 col-lg-2 control-label">Vorname</label>
  <div class="col-sm-9 col-md-9 col-lg-2">
    <input type="text" class="form-control input-sm" name="vorname" id="vorname" />
  </div>
</div>

<div class="form-group ">
  <label class="col-sm-2 col-md-2 col-lg-2 control-label">eMail</label>
  <div class="col-sm-9 col-md-9 col-lg-2">
    <input type="text" class="form-control input-sm" name="email_adresse" id="email_adresse" />
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 col-md-2 col-lg-2 control-label">Geburtstag</label>
  <div class="col-sm-9 col-md-9 col-lg-10">
    <select style="width:120px;" name="no_data_geburtstag" id="no_data_geburtstag" data-placeholder="" data-allow-clear="true">
      <option value=""></option>
      <% for i in 1..12 %>
        <option value="<%= i %>" <%= params[:geburtstag] == i ? 'selected' : '' %>><%= @months[i - 1] %> </option>
      <% end %>
    </select>
  </div>
</div>
