<% if @contacts.empty? and params.size > 0 %>
  <div class="container">
    <div class="widget-content nopadding">
      <div class="form-group">
        <p><div align='center'><font color="red"><b>Es wurden keine Einträge gefunden</b></font></div></p>
      </div>
    </div>
  </div>
<%else %>
  <% query = params.map{ |key, value| "#{key}=#{value}" }.join("&").tr(' ','+') %>
  <div class="container">
    <div id="mailModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
    <% @contacts.each do |c| %>
      <div id="infoModal_<%= c.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>

      <div id="editModal_<%= c.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>
    <% end %>

    <div class="row <%= @contacts.empty? ? 'hide' : '' %>">
      <div class="col-xs-13">
        <div class="btn-toolbar">
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Generiere Spendenbescheinigung <span class="caret"></span></button>
            <ul class="dropdown-menu" id="d_r">
              <% @years.each do | year | %>
                <li id="<%= year %>" role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= year %></a></li>
              <% end %>
            </ul>
          </div>
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Kalenderversand <span class="caret"></span></button>
            <ul class="dropdown-menu" id="c_l">
              <li id="Ihr Florian Osterloh" role="presentation"><a role="menuitem" tabindex="-1" href="#">Florian Osterloh</a></li>
              <li id="Ihr Alexander Herz" role="presentation"><a role="menuitem" tabindex="-1" href="#">Alexander Herz</a></li>
              <li id="Ihre Monica Cocco" role="presentation"><a role="menuitem" tabindex="-1" href="#">Monica Cocco</a></li>
              <li id="Ihr Ralf Müller" role="presentation"><a role="menuitem" tabindex="-1" href="#">Ralf Müller</a></li>
              <li id="Ihre Rebecca Gerst" role="presentation"><a role="menuitem" tabindex="-1" href="#">Rebecca Gerst</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Export<span class="caret"></span></button>
            <ul class="dropdown-menu" id="e_c">
              <li id="export_contacts" role="presentation"><a role="menuitem" tabindex="-1" href="#">Kontaktdaten</a></li>
              <li id="export_contacts_with_donations" role="presentation"><a role="menuitem" tabindex="-1" href="#">Kontaktspenden</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <input type="button" value="Zeige eMail-Adressen" class="btn btn-primary" href="/Mail?<%= query %>" data-toggle="modal" data-target="#mailModal">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="widget-box">
          <div class="widget-title">
            <span class="icon">
              <i class="fa fa-th"></i>
            </span>
            <h5>Result</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped table-hover data-table">
              <thead>
                <tr>
                  <th width='10%'>Name</th>
                  <th width='10%'>Vorname</th>
                  <th width='10%'>Status</th>
                  <% @years.each do |year|%>
                    <% next if year.to_i < 2011 %>
                    <th width='8%'><%= year %></th>
                  <% end %>
                  <th width='8%'><b>Summe</b></th>
                  <th width='4%' data-sortable="false"></th>
                  <% if session[:permisson] == 'rw' %>
                    <th width='4%' data-sortable="false"></th>
                    <th width='4%' data-sortable="false"></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @contacts.each do |c| %>
                  <% name = c.name.presence || c.se_name %>
                  <% donations = @donations[c.id] || {} %>
                  <% donations = donations.group_by { |d| d.buchungs_datum.year } %>
                  <% total_sum = 0 %>
                  <tr id="contact_<%= c.id %>">
                    <td align='center'><%= name %></td>
                    <td align='center'><%= c.vorname %></td>
                    <td align='center'><%= c.nilastate.name if c.nilastate %></td>
                    <% @years.each do |year| %>
                      <% next if year.to_i < 2011 %>
                      <% sum = 0 %>
                      <% sum = donations[year].sum { |d| d.betrag_brutto.to_f } unless donations[year].nil? %>
                      <td align='center'><%= "%.2f" % sum %> €</td>
                      <% total_sum += sum %>
                    <% end %>
                    <td align='center'><b><%= "%.2f" % total_sum %> €</b></td>
                    <td align='center'><a href="ContactInfo?id=<%= c.id %>" data-toggle="modal" data-target="#infoModal_<%= c.id %>">Info</a></td>
                    <% if session[:permisson] == 'rw' %>
                      <td align='center'><a href='/EditContact?id=<%= c.id %>' data-toggle="modal" data-target="#editModal_<%= c.id %>">Edit</a></td>
                      <% if total_sum.to_i > 0 %>
                        <td align='center'>Delete</td>
                      <% else %>
                        <td align='center'><a id='del_<%= c.id %>' href='#' onclick='del_contact(<%= c.id %>, "<%= name %>", "<%= c.vorname %> ")'>Delete</a></td>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <input type="hidden" name="c_count" id="c_count" value="<%= @contacts.size %>">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $("#d_r li").click(function(){
    count = document.getElementById('c_count').value * 1.5
    p_bar.style.display = '';
    var progress = $(".loading-progress").progressTimer({
      timeLimit: count,
    });
    $.ajax({
      type: "POST",
      url: "DonationReceipt",
      data: $('form.form-horizontal').serialize() + "&no_data_donation_year=" + this.id,
      success: function(file){
        if(file){
          window.location.href = file;
        } else {
          alert("Es wurde keine Spendenbescheinigung generiert, da es keine Spenden gibt")
        }
        p_bar.style.display = 'none';
      },
      error: function(){
        warningStyle: 'progress-bar-danger'
      }
    });
  });

  $("#c_l li").click(function(){
    count = document.getElementById('c_count').value * 1.5
    p_bar.style.display = '';
    var progress = $(".loading-progress").progressTimer({
      timeLimit: count,
    });
    $.ajax({
      type: "POST",
      url: "CalendarLetter",
      data: $('form.form-horizontal').serialize() + "&no_data_writer=" + this.id,
      success: function(file){
        if(file){
          window.location.href = file;
        }
        p_bar.style.display = 'none';
      },
      error: function(){
        warningStyle: 'progress-bar-danger'
      }
    });
  });

  $("#e_c li").click(function(){
    p_bar.style.display = '';
    var progress = $(".loading-progress").progressTimer({
      timeLimit: 5,
    });
    $.ajax({
      type: "POST",
      url: "ExportContact",
      data: $('form.form-horizontal').serialize() + "&no_data_method=" + this.id,
      success: function(file){
        if(file){
          window.location.href = file;
        }
        p_bar.style.display = 'none';
      },
      error: function(){
        warningStyle: 'progress-bar-danger'
      }
    });
  });

  $(document).ready(function(){
    $('.data-table').dataTable({
      "bJQueryUI": true,
      "pageLength": 30,
      "lengthMenu": [[30, 60, 90, -1], [30, 60, 90, "All"]],
      "sPaginationType": "full_numbers",
      "sDom": '<""l>t<"F"fp>',
      "order": [[ 0, "desc" ]]
    });

    var checkboxClass = 'icheckbox_flat-blue';
    var radioClass = 'iradio_flat-blue';
    $('input[type=checkbox],input[type=radio]').iCheck({
        checkboxClass: checkboxClass,
        radioClass: radioClass
    });

    $('select').select2();


    $("span.icon input:checkbox, th input:checkbox").on('ifChecked || ifUnchecked',function() {
      var checkedStatus = this.checked;
      var checkbox = $(this).parents('.widget-box').find('tr td:first-child input:checkbox');
      checkbox.each(function() {
        this.checked = checkedStatus;
        if (checkedStatus == this.checked) {
          $(this).closest('.' + checkboxClass).removeClass('checked');
        }
        if (this.checked) {
          $(this).closest('.' + checkboxClass).addClass('checked');
        }
      });
    });
  });
</script>
