
<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Gespendet zwischen</label>
  <div class="col-sm-1 col-md-1 col-lg-2">
    <input type="text" class="form-control input-sm" name="no_data_donations_last_from" id="no_data_donations_last_from" placeholder="YYYY-MM" />
    -
    <input type="text" class="form-control input-sm" name="no_data_donations_last_to" id="no_data_donations_last_to" placeholder="YYYY-MM">
    </div>
</div>

<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Betrag</label>
  <div class="col-sm-1 col-md-1 col-lg-1">
    <input type="text" class="form-control input-sm" name="no_data_donations_betrag_brutto" id="no_data_donations_betrag_brutto" />
  </div>
</div>

<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Vorgang</label>
  <div class="col-sm-1 col-md-1 col-lg-2">
    <select style="width:150px;" name="no_data_donations_vorgang" id="no_data_donations_vorgang" data-placeholder="" data-allow-clear="true">
      <option value=""></option>
      <% @procedures.each do | p | %>
        <option value="<%= p.name %>" <%= params[:no_data_donations_vorgang] == p.name ? 'selected' : '' %>> <%= p.name %></option>
      <% end %>
    </select>
  </div>
</div>
