<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Sprache</label>
  <div class="col-sm-1 col-md-1 col-lg-1">
    <select style="width:90px;" name="sprache" id="sprache" data-placeholder="" data-allow-clear="true">
      <option value=""></option>
      <% @language.each do | l | %>
        <option value="<%= l %>" <%= params[:sprache] == l ? 'selected' : '' %>> <%= l %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Versand Newsletter</label>
  <div class="col-sm-1 col-md-1 col-lg-1">
    <select style="width:120px;" name="versand_newsletter" id="versand_newsletter" data-placeholder="" data-allow-clear="true">
      <option value=""></option>
      <% @distributionstates.each do | d | %>
        <% next if d.name == 'Kontaktinhaber' %>
        <option value="<%= d.id %>" <%= params[:versand_newsletter].to_i == d.id.to_i ? 'selected' : '' %>> <%= d.name %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Versand Aktuelles</label>
  <div class="col-sm-1 col-md-1 col-lg-1">
    <select  style="width:120px;" name="versand_aktuelles" id="versand_aktuelles" data-placeholder="" data-allow-clear="true">
      <option value=""></option>
      <% @distributionstates.each do | d | %>
        <% next if d.name == 'Kontaktinhaber' %>
        <option value="<%= d.id %>" <%= params[:versand_aktuelles].to_i == d.id.to_i ? 'selected' : '' %>> <%= d.name %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Versand Kalender</label>
  <div class="col-sm-1 col-md-1 col-lg-1">
    <select style="width:120px;" name="versand_kalender" id="versand_kalender" data-placeholder="" data-allow-clear="true" data-placeholder="" data-allow-clear="true">
      <option value=""></option>
      <% @distributionstates.each do | d | %>
        <option value="<%= d.id %>" <%= params[:versand_kalender].to_i == d.id.to_i ? 'selected' : '' %>> <%= d.name %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Beschreibung</label>
  <div class="col-sm-9 col-md-9 col-lg-2">
    <input type="text" class="form-control input-sm" name="beschreibung" id="beschreibung" value="<%= params[:beschreibung] %>" />
  </div>
</div>
