<script src="theme/js/jquery.min.js"></script>
<script src="theme/js/extra/jquery.progresstimer.js"></script>
<script>
  $("#searchForm").submit(function(ev) {
    ev.preventDefault();
    document.getElementById('searchcircle').style.display = 'block';
    document.getElementById('searchResult').style.display = 'none';
    $.ajax({
      type: "POST",
      url: "Contacts",
      data: $('form.form-horizontal').serialize(),
      success: function(contacts){
        document.getElementById('searchcircle').style.display = 'none';
        document.getElementById('searchResult').style.display = 'block';
        $('#searchResult').html(contacts);
      },
      error: function(){
        document.getElementById('searchcircle').style.display = 'none';
        alert("Es ist ein Fehler aufgetreten")
      }
    });
  });

  function del_contact(id, name, vorname){
    c = confirm("Soll der Kontakt '" + vorname + name + "' wirklich gelöscht werden?")
    if(c){
      $.ajax({
        type: "Post",
        url: "DelContact",
        data: "id=" + id,
        success: function(){
          document.getElementById('contact_' + id).style.display = 'none';
        },
        error: function(){
          alert("FEHLER: Der Kontakt '" + vorname + name + "' konnte nicht gelöscht werden")
        }
      });
    }
  }

</script>
