<div class="form-group">
  <label class="col-sm-2 col-md-2 col-lg-2 control-label">Kontaktinhaber</label>
  <div class="col-sm-9 col-md-9 col-lg-10">
    <select style="width:150px;" name="kontaktinhaber" id="kontaktinhaber" data-placeholder="" data-allow-clear="true">
      <option value=""></option>>
      <% @contactowners.each do | c | %>
        <option value="<%= c.name %>" <%= params[:kontaktinhaber] == c.name.to_s ? 'selected' : '' %>> <%= c.name %> </option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 col-md-2 col-lg-2 control-label">Kontaktnummer</label>
  <div class="col-sm-9 col-md-9 col-lg-1">
    <input type="text" class="form-control input-sm" name="id" id="id" value="<%= params[:id] %>" />
  </div>
</div>

<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Typus</label>
  <div class="col-sm-9 col-md-9 col-lg-10">
    <select style="width:150px;" name="typus" id="typus"  data-placeholder="" data-allow-clear="true">
      <option value=""></option>>
      <% @typus.each do | t | %>
        <option value="<%= t.name %>" <%= params[:typus] == t.name ? 'selected' : '' %>> <%= t.name %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Status</label>
  <div class="col-sm-1 col-md-1 col-lg-1">
    <select style="width:150px;" name="nilastate_id" id="nilastate_id" data-placeholder="" data-allow-clear="true">
      <option value=""></option>
      <% @states.sort_by{|t| t.name}.each do | s | %>
        <option value="<%= s.id %>" <%= params[:nilastate_id].to_i == s.id.to_i ? 'selected' : '' %>> <%= s.name %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Pate</label>
  <div class="col-sm-1 col-md-1 col-lg-1">
    <select style="width:60px;" name="no_data_pate" id="no_data_pate" data-placeholder="" data-allow-clear="true">
      <option value=""></option>
      <option value="1" <%= params[:no_data_pate].to_i == 1 ? 'selected' : '' %>>ja</option>
      <option value="2" <%= params[:no_data_pate].to_i == 2 ? 'selected' : '' %>>nein</option>
    </select>
  </div>
</div>

<div class="form-group">
   <label class="col-sm-2 col-md-2 col-lg-2 control-label">Aktiv/Inaktiv</label>
  <div class="col-sm-5 col-md-5 col-lg-10">
    <select style="width:90px;" name="aktiv_inaktiv" id="aktiv_inaktiv" data-placeholder="" data-allow-clear="true">
      <option></option>
      <% @active_inactive.each do | a | %>
        <option value="<%= a %>" <%= params[:aktiv_inaktiv] == a ? 'selected' : '' %>><%= a %></option>
      <% end %>
    </select>
  </div>
</div>
