<script src="theme/js/jquery.min.js"></script>
<script src="theme/js/bootstrap.min.js"></script>
<script src="theme/js/unicorn.js"></script>
<script src="theme/js/select2.min.js"></script>
<script src="theme/js/jquery.dataTables.min.js"></script>
<script src="theme/js/jquery.validate.js"></script>
<script src="theme/js/unicorn.tables.js"></script>
<script src="theme/js/extra/jquery.progresstimer.js"></script>
<script src="theme/js/unicorn.form_validation.js"></script>
<script src="theme/js/jquery.icheck.min.js"></script>

</body>
</html>
