<div id="header">
  <h1><a href="#">NILA Admin</a></h1>
  <a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>
</div>
<div id="user-nav">
  <li class="btn">
    <a title="" href="./Logout" data-qs="link-logout">
      <i class="fa fa-user"></i>
      <span class="text">Logout</span>
    </a>
  </li>
</div>
