<!DOCTYPE html>
<html lang="en">
<head>
  <title>NILA</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="theme/css/bootstrap.min.css" />
  <link rel="stylesheet" href="theme/css/font-awesome.css" />
  <link rel="stylesheet" href="theme/css/colorpicker.css" />
  <link rel="stylesheet" href="theme/css/datepicker.css" />
  <link rel="stylesheet" href="theme/css/select2.min.css" />
  <link rel="stylesheet" href="theme/css/jquery-ui.css" />
  <link rel="stylesheet" href="theme/css/unicorn.css" />
  <link rel="stylesheet" href="theme/css/panel.css" />
  <style type="text/css">
    .bs-example{
      margin: 20px;
    }
    @media screen and (min-width: 768px) {
      .modal-dialog {
        width: 950px; /* New width for default modal */
      }
    }
</style>
</head>
<body data-color="grey" class="flat">
