<script src="theme/js/jquery.min.js"></script>

<script>

  $('#basic_validate').on('submit', function(event) {
    event.preventDefault();

    try {
      name = document.getElementById('name').value
      vorname = document.getElementById('vorname').value
    } catch (e) {
      name = document.getElementById('se_name').value
      vorname = ''
    }

    if($("form").valid()){
      $.ajax({
        type: "POST",
        url: "CheckContact",
        data: $('form.form-horizontal').serialize(),
        success: function(count){
          if (count == 0){
            add_contact(name)
          } else {
            var c = confirm("Es existiert bereits ein Kontakt mit dem  Namen '" + vorname + " " + name + "'. Wollen sie den Kontaktrotzdem anlegen?");
            if(c){
              add_contact(name)
            }
          }
        }
      });
    }
    return false
  });

  function add_contact(name){
    $.ajax({
      type: "POST",
      url: "AddContact",
      data: $('form.form-horizontal').serialize(),
      success: function(id){
        alert("Der Kontakt '" + name + "' (" + id + ") wurde erfolgreich angelegt")
        window.location.href = 'Contacts?name=' + name
      },
      error: function(){
        alert("Der Kontakt '" + name + "' konnte nicht angelegt werden")
      }
    });
  }

  function update_contact(id){
    elements = document.getElementById("edit_" + id).elements
    try {
      name = elements["name"].value
      vorname = elements["vorname"].value + ' '
    } catch (e) {
      name = elements['se_name'].value
      vorname = ''
    }

    $.ajax({
      type: "POST",
      url: "UpdateContact",
      data: $("form.form_edit_" + id).serialize(),
      success: function(){
        alert("Der Kontakt '" + vorname +  name + "' wurde erfolgreich aktualisiert")
        $('.close').click();
      },
      error: function(){
        alert("Der Kontakt '"+ vorname +  name + "' konnte nicht aktualisiert werden")
      }
    });
  }

  function visible(kind){
    try {
      if (document.getElementById('nilastate_id').value == '8') {
        document.getElementById("form_" + kind).style.display = 'block';
      } else {
        document.getElementById("form_" + kind).style.display = 'none';
      }
    } catch(e){

    }
  }
</script>
