<input type="hidden" name="id" id="id" value="<%= @orphan.id %>">
<% @sections.select { |se| se.kind == 'op' }.each do |s| %>
  <div class="form-group">
    <label class="col-sm-3 col-md-3 col-lg-<%= @width %> control-label"><font color="black" size="3"><%= s.name %></font></label>
  </div>

  <% s.positions.order('pos').each do |p| %>
    <% next if p.auto %>
    <div class="form-group">
      <label class="col-sm-3 col-md-3 col-lg-<%= @width %> control-label"><%= p.displayname %></label>
      <div class="col-sm-9 col-md-9 col-lg-<%= @width_2 %>">
        <% if p.html_type == 'text' %>
          <input type="text" class="form-control input-sm" name="<%= p.name %>" id="<%= p.name %>" value="<%= @orphan.send p.name %>" placeholder="<%= p.placeholder %>" <%= p.required ? 'required' : '' %> >
        <% elsif p.html_type == 'select' %>
          <select style="width:125px" name="<%= p.name %>" id="<%= p.name %>" data-placeholder="" data-allow-clear="true" <%= p.required ? 'required' : '' %>>
            <% if p.name == 'aktiv_inaktiv' %>
              <% @active_inactive.each do | a | %>
                <option value="<%= a %>" <%= @orphan.aktiv_inaktiv == a ? 'selected' : '' %>><%= a %></option>
              <% end %>
            <% end %>
            <% if p.name == 'geschlecht' %>
              <option></option>
              <% @gender.each do | g | %>
                <option value="<%= g %>" <%= @orphan.geschlecht == g ? 'selected' : '' %>><%= g %></option>
              <% end %>
            <% end %>
            <% if p.name == 'familienstatus' %>
              <option></option>
              <% @family_status.each do | f | %>
                <option value="<%= f %>" <%= @orphan.familienstatus == f ? 'selected' : '' %>><%= f %></option>
              <% end %>
            <% end %>
            <% if p.name == 'waisenhaus' %>
              <option></option>
              <% @orphanges.each do | o | %>
                <option value="<%= o.id %>" <%= @orphan.waisenhaus == o.id ? 'selected' : '' %>><%= o.name %></option>
              <% end %>
            <% end %>
            <% if p.name == 'anrede' %>
              <option></option>
              <% @orphan_salutation.each do | o | %>
                <option value="<%= o %>" <%= @orphan.anrede == o ? 'selected' : '' %>><%= o %></option>
              <% end %>
            <% end %>
            <% if p.name == 'ang_land' %>
              <option value="Myanmar">Myanmar</option>
              <% @countries.each do | c | %>
                <option value="<%= c %>" <%= @orphan.ang_land == c.name ? 'selected' : '' %>><%= c.name %></option>
              <% end %>
            <% end %>
          </select>
        <% else %>
          <textarea class="form-control input-sm" rows="5" name="<%= p.name %>" id="<%= p.name %>"><%= @orphan.send p.name %></textarea>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
