<div id="sidebar">
  <ul>
    <li><a href="/Home"><i class="fa fa-home"></i> <span>Home</span></a></li>

    <% if request.path_info == '/Contacts' || request.path_info =~ /Contact/ %>
      <li class="submenu active open">
    <% else %>
      <li class="submenu">
    <% end %>
    <a href="#"><i class="fa fa-users"></i> <span>Kontakte</span> <i class="arrow fa fa-chevron-right"></i></a>
    <ul>
      <li><a href="Contacts">Suchen</a></li>
      <% if session[:permisson] == 'rw' %>
        <li><a href="AddContact?kind=PrivatPerson">Neue Privatperson</a></li>
        <li><a href="AddContact?kind=JuristischePerson">Neue Juristische Person</a></li>
      <% end %>
    </ul>
    </li>

    <% if request.path_info =~ /Orphan/ %>
      <li class="submenu active open">
    <% else %>
      <li class="submenu">
    <% end %>
    <a href="#"><i class="fa fa-heart"></i> <span>Patenkinder</span> <i class="arrow fa fa-chevron-right"></i></a>
    <ul>
      <li><a href="Orphans">Anzeigen</a></li>
      <% if session[:permisson] == 'rw' %>
        <li><a href="AddOrphan">Neues Patenkind</a></li>
      <% end %>
    </ul>
    </li>

    <% if request.path_info == '/Donations' or request.path_info == '/Myanmar'%>
      <li class="submenu active open">
    <% else %>
      <li class="submenu">
    <% end %>
      <a href="#"><i class="fa fa-book"></i> <span>Buchführung</span> <i class="arrow fa fa-chevron-right"></i></a>
      <ul>
        <li><a href="Donations?kind=Mittelherkunft">Mittelherkunft</a></li>
        <li><a href="Donations?kind=Mittelverwendung">Mittelverwendung</a></li>
        <li><a href="Donations?kind=Vermoegen">Vermögen</a></li>
        <li><a href="Myanmar">Myanmar</a></li>
      </ul>
    </li>
    <li><a href="/Accounts"><i class="fa fa-table"></i> <span>Bestandskonten</span></a></li>
    <% if session[:permisson] == 'rw' %>
      <% if request.path_info == '/Users' || request.path_info == '/AddUser'%>
        <li class="submenu active open">
      <% else %>
        <li class="submenu">
      <% end %>
        <a href="#"><i class="fa fa-user"></i> <span>User</span> <i class="arrow fa fa-chevron-right"></i></a>
        <ul>
          <li><a href="Users">Anzeigen</a></li>
          <li><a href="AddUser">Neuer User</a></li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
