<% donations = @donations.select { |d| d.kontonr_nila == params['account'].to_i } %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="widget-box">
        <div class="widget-content nopadding">
          <div id="p_bar" class="loading-progress"></div>
          <form role="form" class="form-horizontal" method="post" action="/Accounts" name="basic_validate" id="basic_validate">

            <div class="form-group">
              <label class="col-sm-3 col-md-3 col-lg-2 control-label">Buchungskonto</label>
              <div class="col-sm-1 col-md-1 col-lg-1">
                <select name="account" id="account">
                  <% @accounts.sort_by{|a| a.name}.each do | account | %>
                    <option value="<%= account.id %>" <%= params[:account].to_i == account.id ? 'selected' : '' %>> <%= account.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 col-md-3 col-lg-2 control-label">Jahr</label>
              <div class="col-sm-1 col-md-1 col-lg-1">
                <select style="width:80px" name="year" id="year">
                  <% @years.each do | year | %>
                    <option value="<%= year %>" <%= params[:year].to_i == year.to_i ? 'selected' : '' %>> <%= year %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="form-actions">
              <div class="dropdown">
                <input type="submit" value="Suche"  class="btn btn-primary" onclick="unset();">
                <% unless donations.empty? %>
                  <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Download
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" id="export">
                    <li id="csv" role="presentation"><a role="menuitem" tabindex="-1" href="#">csv</a></li>
                    <li id="pdf" role="presentation"><a role="menuitem" tabindex="-1" href="#">pdf</a></li>
                  </ul>
                <% end %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% if donations.empty? && request.request_method == 'POST' %>
    <div class="widget-content nopadding">
      <div class="form-group">
      <div align='center'><font color="red"><b>Es wurden keine Einträge gefunden</b></font></div>
      </div>
    </div>
  <% else %>
    <% unless donations.empty? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="widget-box">

            <div class="widget-title">
              <span class="icon">
                <i class="fa fa-th"></i>
              </span>
              <h5><%= @accounts.select {|a| a.id == params[:account].to_i}.first.name %></h5>
            </div>

            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th width='8%'>Buchungsdatum</th>
                  <th width='8%'>Name</th>
                  <th width='8%'>Vorname</th>
                  <th width='10%'>Betrag Euro</th>
                  <th width='10%'>Betrag MMK</th>
                  <th width='8%'>Umrechnungskurs</th>
                  <th width='8%'>Vorgang</th>
                  <th width='8%'>Vorgang Pendant</th>
                  <th width='8%'>Vorgang Art</th>
                  <th width='8%'>AufwandsNr</th>
                  <th width='16%'>Verwendungszweck</th>
                </tr>
              </thead>
              <tbody>
                <% sum_eur = 0 %>
                <% sum_mmk = 0 %>
                <% @donations.each do |d| %>
                  <% sum_eur += d.betrag_brutto.to_f %>
                  <% sum_mmk += d.betrag_mmk.to_f %>
                  <% contact = @contacts.select { |c| c.id == d.contact_id }.first %>
                  <tr>
                    <td align='center'><%= d.buchungs_datum %></td>
                    <td align='center'><%= contact.name unless contact.nil? %></td>
                    <td align='center'><%= contact.vorname unless contact.nil? %></td>
                    <td align='center'><%= d.betrag_brutto.to_i == 0 ? '' : "#{"%.2f" % d.betrag_brutto} €"%></td>
                    <td align='center'><%= d.betrag_mmk.to_i == 0 ? ''    : "#{"%.2f" % d.betrag_mmk} MMK"%></td>
                    <td align='center'><%= d.cr %></td>
                    <td align='center'><%= d.vorgang %></td>
                    <td align='center'><%= d.vorgang_kommentar %></td>
                    <td align='center'><%= d.vorgang_art %></td>
                    <td align='center'><%= d.aufwands_nummer %></td>
                    <td align='center'><%= d.verwendungszweck %></td>
                  </tr>
                <% end %>
                <tr>
                  <td align='center'><b>Summe</b></td>
                  <td align='center'></td>
                  <td align='center'></td>
                  <td align='center'><b><%= "%.2f" % sum_eur.to_f %> €</b></td>
                  <td align='center'><b><%= "%.2f" % sum_mmk.to_f %> MMK</b></td>
                  <td align='center'></td>
                  <td align='center'></td>
                  <td align='center'></td>
                  <td align='center'></td>
                  <td align='center'></td>
                  <td align='center'></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script src="theme/js/jquery.min.js"></script>

<script>

$("#export li").click(function(){
  p_bar.style.display = '';
  var id = this.id
  if (id == "pdf"){
    time = 30
  } else{
    time = 10
  }
  var progress = $(".loading-progress").progressTimer({
    timeLimit: time,
  });

  $.ajax({
    type: "POST",
    url: "ExportAccounts",
    data: $('form.form-horizontal').serialize() + "&kind=" + id,
    success: function(file){
      window.location.href = file;
      progress.progressTimer('complete');
      p_bar.style.display = 'none';
    },
    error: function(){
      warningStyle: 'progress-bar-danger'
    }
  });

});

</script >
