<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="widget-box">
        <div class="widget-content nopadding">
          <form class="form-horizontal" method="post" action="/addContact" name="basic_validate" id="basic_validate">
            <% @contact.id = 'NULL' %>
            <% @contact.kontaktinhaber = nil %>
            <% @contact.name = nil %>
            <% params[:kind] == 'JuristischePerson' ? @contact.typus = 'Juristische Person' : @contact.typus = 'Privatperson' %>
            <% @width = 2 %>
            <% @width_2 = 3 %>
            <%= erb :_contact_sections %>
            <label class="col-sm-3 col-md-3 col-lg-<%= @width %> control-label"></label>
            <div class="col-sm-9 col-md-9 col-lg-3">
              <button type="submit" id="add" class="btn btn-primary">create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%= erb :_modify_contact %>
