<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="widget-box">
        <div class="widget-content nopadding">

          <form class="form-horizontal" method="post" action="/addOrphan" name="basic_validate" id="basic_validate">
            <% @width = 2 %>
            <% @width_2 = 3 %>
            <% @orphan.id = 'NULL' %>
            <%= erb :_orphan_sections %>
          </form>
          <label class="col-sm-3 col-md-3 col-lg-<%= @width %> control-label"></label>
          <div class="col-sm-9 col-md-9 col-lg-<%= @width %> ">
            <button id="add" class="btn btn-primary <%= params[:id].to_i > 0 ? 'hide' : '' %>" onclick="check_orphan()">create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="theme/js/jquery.min.js"></script>

<script>

function check_orphan(){
  name = document.getElementById('name').value

  if (name != ''){
    $.ajax({
      type: "POST",
      url: "CheckOrphan",
      data: $('form.form-horizontal').serialize(),
      success: function(count){
        if (count == 0){
          add_orphan(name)
        } else {
          var c = confirm("Es existiert bereits ein Patenkind mit dem  Namen '"  + name + "'. Wollen sie es trotzdem anlegen?");
          if(c){
            add_orphan(name)
          }
        }
      }
    });
  }
  else {
    alert("das Feld Name darf nicht leer sein!!!")
  }
}

function add_orphan(name){
  $.ajax({
    type: "POST",
    url: "AddOrphan",
    data: $('form.form-horizontal').serialize(),
    success: function(id){
      alert("Das Patenkind '" + name + "' wurde erfolgreich angelegt")
      document.getElementById('update').style.display = 'block';
      document.getElementById('add').style.display = 'none';
      document.getElementById('id').value = id
    },
    error: function(){
      alert("Das Patenkind '" + name + "' konnte nicht angelegt werden")
    }
  });
}
</script>
