<div class="widget-box">
  <div class="widget-content nopadding">
    <form class="form-horizontal" method="post" name="password_validate" id="password_validate" action="AddUser">

      <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">Username</label>
        <div class="col-sm-9 col-md-9 col-lg-3">
          <input type="text" class="form-control input-sm" name="username" id="username" required >
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">eMail</label>
        <div class="col-sm-9 col-md-9 col-lg-3">
          <input type="email" class="form-control input-sm" name="email" id="email" required >
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">Rolle</label>
        <div class="col-sm-9 col-md-9 col-lg-3">
          <select name="permission_level" id="permission_level" required>
            <option value="r">read</option>
            <option value="rw">read/write</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">Passwort</label>
        <div class="col-sm-9 col-md-9 col-lg-3">
          <input type="password" class="form-control input-sm" name="pwd" id="pwd" required placeholder="password">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label"></label>
        <div class="col-sm-9 col-md-9 col-lg-3">
          <input type="password" class="form-control input-sm" name="pwd2" id="pwd2" required placeholder="confirm password">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label"></label>
        <div class="col-sm-9 col-md-9 col-lg-3">
          <button type="submit" class="btn btn-primary">create</button>
        </div>
      </div>
    </form>

  </div>
</div>

<script src="theme/js/jquery.min.js"></script>

<script>
$("#password_validate").submit(function(ev) {
    ev.preventDefault();
    var check = false;

    $.ajax({
      type: "POST",
      url: 'CheckUser',
      async: false,
      data: $('form.form-horizontal').serialize(),
      success: function(id){
        if(id != 0){
          alert("Es existiert bereits ein User mit dem Namen '" + name + "'")
          check = true;
        }
      },
      error: function(){
        alert("Fehler bei der Verarbeitung")
      }
    });

    if (check){
      return false;
    }

    if($("form").valid()){
      $.ajax({
        type: "POST",
        url: 'AddUser',
        data: $('form.form-horizontal').serialize(),
        success: function(id){
          alert("Der Kontakt " + name + " wurde erfolgreich angelegt")
          window.location = '/Users'
        },
        error: function(){
          alert("Fehler bei der Verarbeitung")
        }
      });
    }
});
</script>
