<% orphan = Orphan.where(id: @contact.orphan_id).first %>
<div class="form-horizontal">
  <% if orphan %>
    <div id="infoModal_orphan_<%= orphan.id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  <% end %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="row">
      <div class="col-xs-12 center" style="text-align: center;">
        <div style="text-align: center;">
          <% name = @contact.name.presence || @contact.se_name %>
          <h4 class="modal-title"><%= @contact.vorname %> <%= name %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 center" style="text-align: center;">
          <div style="text-align: center;">
            <ul class="quick-actions">
              <li><a href="#" onclick="hide('info','donations','history', <%= @contact.id %>)"><i class="icon-user"></i>Info</a></li>
              <li><a href="#" onclick="hide('donations','info','history', <%= @contact.id %>)"><i class="icon-wallet"></i>Spenden</a></li>
              <li><a href="#" onclick="hide('history','info','donations', <%= @contact.id %>)"><i class="icon-book"></i>History</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 center" style="text-align: center;" id="info_<%= @contact.id %>">
          <div class="widget-box">
            <div class="widget-content nopadding">
              <% @contact.typus == 'Juristische Person' ? kind = 'se' : kind = 'pp' %>
              <% @sections.select { |se| se.kind == kind }.each do |s| %>
                <% next unless s.positions.any? { |p|  !@contact.send(p.name).to_s.empty? && @contact.send(p.name).to_s != "-1" } %>
                <div class="form-group">
                  <label class="col-sm-3 col-md-3 col-lg-5 control-label"><font color="black" size="3"><%= s.name %></font></label>
                </div>

                <% s.positions.order('pos').each do |p| %>
                  <% value = @contact.send p.name %>
                  <% next if value.to_s.empty? %>
                  <% if p.name =~ /versand/%>
                    <% dist = Distributionstate.where(id: value).first %>
                    <% value = dist.name unless dist.nil? %>
                  <% elsif p.name =~ /nilastate/ %>
                    <% state = Nilastate.where(id: value).first %>
                    <% value = state.name unless state.nil? %>
                  <% elsif p.name =~ /orphan_id/ %>
                    <% value = '' %>
                    <% if orphan %>
                      <% value = "<a href='/OrphanInfo?id=#{orphan.id}' data-toggle='modal' data-target='#infoModal_orphan_#{orphan.id}'>#{orphan.name}</a>" %>
                    <% end %>
                  <% elsif p.name =~ /anrede_typ/ %>
                    <% val = 'Sie' %>
                    <% val = 'Du' if value.to_i == 1 %>
                    <% value = val %>
                  <% end %>
                  <div class="form-group">
                    <label class="col-sm-4 col-md-5 col-lg-5 control-label"><%= p.displayname %></label>
                    <div class="col-sm-9 col-md-9 col-lg-4">
                      <%= value %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 center" style="text-align: center;display:none;" id="donations_<%= @contact.id %>">
          <% unless @donations[@contact.id].nil? %>
            <% donations = @donations[@contact.id].group_by { |d| d.buchungs_datum.year } %>
            <% donations.each do |year, donation| %>
              <div class="widget-box">
                <div class="widget-content nopadding">
                  <% sum = 0 %>
                  <div class="widget-title">
                    <span class="icon">
                      <button class="fa fa-eye" data-toggle="collapse" data-target="#donations_year_<%= year %>_<%= @contact.id %>">
                      </button>
                    </span>
                    <h5><b><%= year %></b></h5>
                  </div>
                  <table width='100%'>
                    <tr class="accordion-toggle" data-toggle="collapse" data-target="#donations_year_<%= year %>_<%= @contact.id %>">
                      <td>
                        <div class="hiddenRow">
                          <div class="accordian-body collapse" id="donations_year_<%= year %>_<%= @contact.id %>">
                            <table class="table table-bordered table-hover">
                              <thead>
                                <tr>
                                  <th width='10%'>Buchungsdatum</th>
                                  <th width='15%'>Betrag EURO</th>
                                  <th width='30%'>Vorgang</th>
                                  <th width='15%'>Vorgang Art</th>
                                  <th width='30%'>Subject</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% donation.each do |d| %>
                                  <% sum += d.betrag_brutto.to_f %>
                                  <tr>
                                    <td align='center'><%= d.buchungs_datum.to_s %></td>
                                    <td align='center'><%= "%.2f" % d.betrag_brutto %> €</td>
                                    <td align='center'><%= d.vorgang.to_s %></td>
                                    <td align='center'><%= d.vorgang_art %></td>
                                    <td align='center'><%= d.verwendungszweck %></td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                  <table width='100%' border='0'>
                    <tr>
                      <td width='100%'><b><%= "%.2f" % sum %> €</b></td>
                    </tr>
                  </table>
                </div>
              </div>
            <% end %>
          <% else %>
            <div align="center"><font color="red">Es wurden keine Einträge gefunden</font></div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 center" style="text-align: center;display:none;" id="history_<%= @contact.id %>">
          <% unless @contact.contacthistories.empty? %>
            <div class="widget-box">
              <div class="widget-content nopadding">
                <div class="widget-title">
                  <span class="icon">
                    <i class="fa fa-th"></i>
                  </span>
                  <h5>Result</h5>
                </div>
                  <table id="history_table_<%= @contact.id %>" class="table table-bordered table-striped table-hover data-table-<%=@contact.id%>">
                    <thead>
                      <tr>
                        <th width='15%'>Datum</th>
                        <th width='10%'>Event</th>
                        <th width='60%'>Message</th>
                        <th width='15%'>Geändert durch</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @contact.contacthistories.reverse.each do |history| %>
                        <% changer = @crm_user.select {|c| c.id == history.changer_id }.first%>
                        <% date, time = history.timestamp.localtime.to_s.split %>
                        <tr>
                          <td align="center"><%= date %> <%= time %></td>
                          <td align="center"><%= history.typus %></td>
                          <td align="center"><%= history.message.gsub("\n","<br>") %></td>
                          <td align="center"><%= changer.username %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
          <% else %>
            <div align="center"><font color="red">Es wurden keine Einträge gefunden</font></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

<script type="text/javascript">
  function hide(show, hide_1, hide_2, id) {
    document.getElementById(show + '_' + id).style.display = 'block';
    document.getElementById(hide_1 + '_' + id).style.display = 'none';
    document.getElementById(hide_2 + '_' + id).style.display = 'none';
  }


  $(document).ready(function(){
    $('.data-table-<%= @contact.id %>').dataTable({
      "bJQueryUI": true,
      "pageLength": 10,
      "sPaginationType": "full_numbers",
      "sDom": '<""l>t<"F"fp>',
      "order": [[ 0, "desc" ]]
    });
  });
</script>
