<div class="container">
  <div class="row">
    <div class="col-xs-13">
      <div class="widget-box">
        <div class="widget-content nopadding">
          <div id="p_bar" class="loading-progress"></div>
          <form role="form" id="searchForm" class="form-horizontal" method="post" action="/Contacts">
            <p>
              <div align="center">
                <input type="text" class="input-sm" name="no_data_overall" id="no_data_overall" size="55" placeholder="overall" />
              </div>
            </p>
            <div class="panel-group" id="accordion1">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;
                      NILA Daten
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <%= erb :_contacts_nila %>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-group" id="accordion2">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;
                      Persönliche Daten
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <%= erb :_contacts_privat %>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-group" id="accordion3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;
                      Spenderbetreuung
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <%= erb :_contacts_donation_support %>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-group" id="accordion4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;
                      Spenden
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                    <%= erb :_contacts_donations %>
                  </div>
                </div>
              </div>
            </div>


            <p>
              <div align="center">
                <input type="submit" value="Suche" class="btn btn-primary">
              </div>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p>
  <div align="center" style="display:none;" id="searchcircle">
    <i class="fa fa-spinner fa-spin" style="font-size:36px"></i>
  </div>
</p>

<div class="cp-spinner cp-round"></div>

<div id="searchResult" style="display:none;"></div>

<%= erb :_contacts_scripts %>
