<%
  translate = {
      'Home'       => 'Home',
      'Contacts'   => 'Kontakte',
      'Donations'  => 'Buchführung',
      'Accounts'   => 'Bestandskonten',
      'Users'      => 'User',
      'AddUser'    => 'User',
      'AddContact' => 'Kontakte',
      'Contact'    => 'Kontakte',
      'Myanmar'    => 'Myanmar',
      'Orphan'     => 'Patenkind',
      'AddOrphan'  => 'Patenkind',
      'Orphans'    => 'Patenkinder'
  }
%>
<%= erb :_html_header %>

<div id="wrapper">
  <%= erb :_header %>
  <%= erb :_sitebar %>
  <div id="content" style="min-height: 850px;">

    <div id="content-header" class="mini"><h1>NILA</h1></div>
    <div id="breadcrumb">
      <a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
      <a href="#" class="current"><%= translate[request.path_info.tr('/','')] %></a>
      <% if @params['kind'] %>
        <a href="#" class="current"><%= @params['kind'] %></a>
      <% end %>

      <% if request.path_info.tr('/','') =~ /AddContact/ %>
        <a href="#" class="current">Neu</a>
      <% elsif request.path_info.tr('/','') == 'AddOrphan' %>
        <a href="#" class="current">Neu</a>
      <% elsif request.path_info.tr('/','') == 'AddUser' %>
        <a href="#" class="current">Neu</a>
      <% elsif request.path_info.tr('/','') == 'User' %>
        <a href="#" class="current">Neuer User</a>
      <% elsif request.path_info.tr('/','') == 'Contacts'  %>
        <a href="#" class="current">Suchen</a>
      <% elsif request.path_info.tr('/','') == 'Users' %>
        <a href="#" class="current">Anzeigen</a>
      <% elsif  request.path_info.tr('/','') == 'Orphans' %>
        <a href="#" class="current">Anzeigen</a>
      <% end %>
    </div>

    <%= erb request.path_info.tr('/','').to_sym %>
  </div>

</div>
<%= erb :_footer %>
