<input type="hidden" name="kind" id="kind" value="<%= @kind %>">
<div class="container-fluid">
  <div id="p_bar" class="loading-progress"></div>

  <div class="row <%= @donations.empty? ? 'hide' : '' %>">
    <div class="col-xs-12">
      <div class="dropdown">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Auswertung <span class="caret"></span></button>
          <ul class="dropdown-menu" id="d_r">
            <% @years.each do | year | %>
              <li id="<%= year %>" value="csv" role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= year %> - csv</a></li>
              <li id="<%= year %>" value="pdf" role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= year %> - pdf</a></li>
            <% end %>
          </ul>
      </div>
    </div>

    <% @donations.each do | name, donations | %>
      <% overall_sum = 0 %>
      <% unless donations.empty? %>
        <div class="col-xs-12">
          <div class="widget-box">

            <div class="widget-content nopadding">
              <div class="widget-title">
                <span class="icon">
                  <i class="fa fa-th"></i>
                </span>
                <h5><%= name %></h5>
              </div>
            </div>

            <table class="table table-bordered table-striped table-hover" width="100%">
              <thead>
                <tr>
                  <th width='10%'></th>
                  <% @years.each do | year | %>
                      <th witdh='10%'><%= year %></th>
                  <% end %>
                  <th width="22%">Summe</th>
                </tr>
              </thead>
              <tbody>
                <% donations.each do | kind, donation | %>
                  <% total_sum = 0 %>
                  <% c = @contacts.select { |c| c.name == kind }.first %>
                  <tr>
                    <% if !c.nil? && params[:kind] == 'Mittelverwendung' %>
                      <div id="infoModal_<%= c.id %>" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content"></div>
                        </div>
                      </div>
                      <td align='center'><a href="ContactInfo?id=<%= c.id %>" data-toggle="modal" data-target="#infoModal_<%= c.id %>"><%= kind %></a></td>
                    <% else %>
                      <td align='center' width='14%'><%= kind %></td>
                    <% end %>

                    <% donation.each do |_, sum|%>
                      <% total_sum += sum %>
                      <td align='center' width='10%'><%= "%.2f" %  sum %> €</td>
                    <% end %>
                    <td align='center' width='22%'><b><%= "%.2f" %  total_sum %> €</b></td>
                  </tr>
                  <% overall_sum += total_sum %>
                <% end %>
                <tr>
                  <td align='center'><b>Summe</b></td>
                  <% @years.each do | year | %>
                    <td align='center'><b><%= "%.2f" % donations.sum { |_, d| d[year] } %> €</b></td>
                  <% end %>
                  <td align='center'><b><%= "%.2f" %  overall_sum %> €</b></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

<script src="theme/js/jquery.min.js"></script>

<script>

$("#d_r li").click(function(){
  var year = this.id;
  var export_kind = $(this).attr('value')
  var kind = document.getElementById('kind').value

  p_bar.style.display = '';
  var progress = $(".loading-progress").progressTimer({
    timeLimit: 6,
  });
  $.ajax({
    type: "POST",
    url: "DonationEvaluation",
    data: "year=" + year + "&export_kind=" + export_kind + "&kind=" + kind,
    success: function(file){
      progress.progressTimer('complete');
      window.location.href = file;
      p_bar.style.display = 'none';
    },
    error: function(){
      warningStyle: 'progress-bar-danger'
    }
  });
});

</script>
