<%= erb :_html_header %>
<div class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="row">
      <div class="col-xs-12 center" style="text-align: center;">
        <div style="text-align: center;">
          <h4 class="modal-title"><%= @orphan.name %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="widget-box">
            <div class="widget-content nopadding">
              <form class="form_edit_<%= @orphan.id %>" method="post" action="/addOrphan" name="basic_validate" id="basic_validate">
                <% @width = 5 %>
                <% @width_2 = 4 %>
                <%= erb :_orphan_sections %>
              </form>
              <label class="col-sm-3 col-md-3 col-lg-<%= @width %>  control-label"></label>
              <div class="col-sm-9 col-md-9 col-lg-<%= @width %> ">
                <button id="update" class="btn btn-primary" onclick="update_orphan(<%= @orphan.id %>)">update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="theme/js/jquery.min.js"></script>

<script>
  function update_orphan(id){
    name = document.getElementById('name').value

    $.ajax({
      type: "POST",
      url: "UpdateOrphan",
      data: $("form.form_edit_" + id).serialize(),
      success: function(){
        alert("Das Patenkind '" + name + "' wurde erfolgreich aktualisiert")
        $('.close').click();
      },
      error: function(){
        alert("Das Patenkind '" + name + "' konnte nicht aktualisiert werden")
      }
    });
  }
</script>
