<div class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="row">
      <div class="col-xs-12 center" style="text-align: center;">
        <div style="text-align: center;">
          <h4 class="modal-title"><%= @crm_user.username %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="widget-box">
            <div class="widget-content nopadding">
              <form class="form_edit_<%= @crm_user.id %>" method="post" action="/updateUser" name="basic_validate" id="basic_validate">

                <div class="form-group">
                  <div class="col-sm-5 col-md-5 col-lg-10">
                    <input type="hidden" class="form-control input-sm" name="id" id="id" value="<%= @crm_user.id %>">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 col-md-3 col-lg-2 control-label">eMail</label>
                  <div class="col-sm-9 col-md-9 col-lg-3">
                    <input type="email" class="form-control input-sm" name="email" id="email" value='<%= @crm_user.email %>' required >
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 col-md-3 col-lg-2 control-label">Rolle</label>
                  <div class="col-sm-9 col-md-9 col-lg-3">
                    <select name="permission_level" id="permission_level" required >
                      <option value="r" <%= @crm_user.permission_level == 'r' ? 'selected' : '' %>>read</option>
                      <option value="rw" <%= @crm_user.permission_level == 'rw' ? 'selected' : '' %>>read/write</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 col-md-3 col-lg-2 control-label"></label>
                  <div class="col-sm-9 col-md-9 col-lg-3">
                    <button type="submit" class="btn btn-primary">update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="theme/js/jquery.min.js"></script>
<script src="theme/js/jquery.validate.js"></script>

<script>
  $("#basic_validate").on('submit', function(event) {
      event.preventDefault();
      id = document.getElementById('id').value

      if($("form").valid()){
        $.ajax({
          type: "POST",
          url: 'UpdateUser',
          data: $('form.form_edit_' + id ).serialize(),
          success: function(id){
            alert("Der Kontakt <%= @crm_user.username %>" + " wurde erfolgreich aktualisiert")
            location.reload();
            $('.close').click();
          },
          error: function(){
            alert("Fehler bei der Verarbeitung")
          }
        });
      }
  });
</script>
