<div class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="row">
      <div class="col-xs-12 center" style="text-align: center;">
        <div style="text-align: center;">
          <% name = @contact.name.presence || @contact.se_name %>
          <h4 class="modal-title"><%= @contact.vorname %> <%= name %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="widget-box">
            <div class="widget-content nopadding">
              <form class="form_edit_<%= @contact.id %>" method="post" action="/addContact" id="edit_<%= @contact.id %>">
                <% @width = 5 %>
                <% @width_2 = 5 %>
                <%= erb :_contact_sections %>
              </form>
              <label class="col-sm-3 col-md-3 col-lg-<%= @width %> control-label"></label>
              <div class="col-sm-9 col-md-9 col-lg-4">
                <button id="update" class="btn btn-primary" onclick="update_contact(<%= @contact.id %>)">update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= erb :_modify_contact %>
