<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-info">
        Welcome to <strong>NILA</strong>. Feel free and write User-Stories!
        <a href="#" data-dismiss="alert" class="close">×</a>
      </div>
    </div>
  </div>
</div>
