<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nila-CRM</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/bootstrap.min.css" />
    <link rel="stylesheet" href="theme/css/font-awesome.css" />
    <link rel="stylesheet" href="theme/css/unicorn-login.css" />
    <script type="text/javascript" src="theme/js/respond.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="logo">
        <img src="nila_logo.png" alt="" />
      </div>
      <div id="user">
        <div class="text">
          <h4><br><br>....welcome to Nila</h4>
        </div>
      </div>
      <div id="loginbox">
        <form id="loginform" action="/Login" method="post">
          <p>Enter username and password to continue.</p>
          <div class="input-group input-sm">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" type="text" name="username" placeholder="Username" required/>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input class="form-control" type="password" name="password" placeholder="Password"  required/>
          </div>
          <div class="form-actions clearfix">
            <div class="pull-right">
              <a href="#recoverform" class="flip-link to-recover grey" style="pointer-events: cursor: default; color:#d3d3d3">Lost password?</a>
            </div>
            <input type="submit" class="btn btn-block btn-primary btn-default" value="Login" />
            <% if @login_error %>
              <p><font color="red">Invalid login</font></p>
            <% end %>
          </div>
        </form>
        <form id="recoverform" action="/LostPass" method='post'>
          <p>Enter your e-mail address below and we will send you instructions how to recover a password.</p>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input class="form-control" type="text" placeholder="username" name="username" required/>
          </div>
          <div class="form-actions clearfix">
            <div class="pull-left">
              <a href="#loginform" class="grey flip-link to-login">Click to login</a>
            </div>
            <input type="submit" class="btn btn-block btn-inverse" value="Recover" />
          </div>
        </form>
      </div>
    </div>
    <script src="theme/js/jquery.min.js"></script>
    <script src="theme/js/jquery-ui.custom.min.js"></script>
    <script src="theme/js/unicorn.login.js"></script>
  </body>
</html>
