<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Nila-CRM</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="theme/css/bootstrap.min.css" />
      <link rel="stylesheet" href="theme/css/font-awesome.css" />
      <link rel="stylesheet" href="theme/css/unicorn-login.css" />
      <script type="text/javascript" src="theme/js/respond.min.js"></script>
  </head>
  <body>
    <div id="container">
        <div id="logo">
            <img src="nila_logo.png" alt="" />
        </div>
        <div id="user">
            <div class="text">
                <h4>....welcome to Nila</h4>
            </div>
        </div>
        <div id="loginbox">
            <% if @crm_user %>
                <br>
                <br>
                Es wurde eine eMail an <br> <b><%= @crm_user.email %></b>  <br> verschickt <br> (bitte auch den Spam-Ordner checken)
                <br>
                <br>
                <a href="/Login" class="grey flip-link to-login">Click to login</a>
            <% else %>
                <br>
                <br>
                <font color="red">Der Username "<%= params[:username] %>" ist nicht vorhanden</font>
                <br>
                <br>
                <a href="javascript:history.back()" class="grey flip-link to-login">Zurück</a>
            <% end %>

        </div>
    </div>

    <script src="theme/js/jquery.min.js"></script>
    <script src="theme/js/jquery-ui.custom.min.js"></script>
    <script src="theme/js/unicorn.login.js"></script>
  </body>
</html>
