<%= erb :_html_header %>
<div class="container-fluid">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="row">
      <div class="col-xs-12 center" style="text-align: center;">
        <div style="text-align: center;">
          <h4 class="modal-title">Mail Adressen</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 center" style="text-align: center;">
        <div style="text-align: center;">
          <%= @contacts.map { |c| c.email_adresse }.reject(&:blank?).join(';') %>
        </div>
      </div>
    </div>
  </div>
</div>
