<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="widget-box">
        <div class="widget-content nopadding">
          <div id="p_bar" class="loading-progress"></div>
          <form role="form" class="form-horizontal" method="post" action="/Myanmar" name="basic_validate" id="basic_validate">
            <div class="form-group">
              <label class="col-sm-3 col-md-3 col-lg-2 control-label">Jahr</label>
              <div class="col-sm-1 col-md-1 col-lg-1">
                <select style="width:80px" name="year" id="year" data-placeholder="" data-allow-clear="true">
                  <% @years.each do | year | %>
                    <option value="<%= year %>" <%= params[:year].to_i == year.to_i ? 'selected' : '' %>> <%= year %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-actions">
              <div class="dropdown">
                <input type="submit" value="Suche"  class="btn btn-primary" onclick="unset();">
                <% if !@donations.empty? %>
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Download
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="m">
                    <li id="csv" role="presentation"><a role="menuitem" tabindex="-1" href="#">csv</a></li>
                  </ul>
                <% end %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% if @donations.empty? and request.request_method == 'POST' %>
    <div class="widget-content nopadding">
      <div align='center'><font color="red"><b>Es wurden keine Einträge gefunden</b></font></div>
    </div>
  <% else %>
    <% @donations.group_by { |d| d.contact_id }.each do |id, donations| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="widget-box">
            <div class="widget-title">
              <span class="icon">
                  <i class="fa fa-th"></i>
              </span>
              <h5><%= @contacts.find {|c| c.id == id}.name %></h5>
            </div>
        <% donations.group_by {|d| d.vorgang}.each do |vorgang, donation| %>
            <% sum_brutto = 0 %>
            <% sum_mmk = 0 %>

              <table class="table table-bordered table-striped table-hover wi" width="100%">
                <thead>
                  <tr>
                    <th width='7%'>Nila KontoNr</th>
                    <th width='7%'>Nila Konto</th>
                    <th width='7%'>Buchungsdatum</th>
                    <th width='7%'>KontaktNr</th>
                    <th width='7%'>Betrag Euro</th>
                    <th width='10%'>Betrag MMK</th>
                    <th width='7%'>Umrechnungskurs</th>
                    <th width='7%'>Vorgang</th>
                    <th width='7%'>Vorgang Pendant</th>
                    <th width='12%'>Vorgang Art</th>
                    <th width='7%'>AufwandsNr</th>
                    <th width='15%'>Verwendungszweck</th>
                  </tr>
                </thead>
                <tbody>
                  <% donation.each do |d| %>
                    <% sum_brutto += d.betrag_brutto.to_f %>
                    <% sum_mmk += d.betrag_mmk.to_f %>
                    <tr>
                      <td align='center' width='7%'><%= d.kontonr_nila %></td>
                      <td align='center' width='7%'><%= d.konto_nila %></td>
                      <td align='center' width='7%'><%= d.buchungs_datum %></td>
                      <td align='center' width='7%'><%= d.contact_id %></td>
                      <td align='center' width='7%'><%= "%.2f" % d.betrag_brutto %> €</td>
                      <td align='center' width='10%'><%= "%.2f" % d.betrag_mmk %> MMK</td>
                      <td align='center' width='7%'><%= d.cr %></td>
                      <td align='center' width='7%'><%= d.vorgang %></td>
                      <td align='center' width='7%'><%= d.vorgang_kommentar %></td>
                      <td align='center' width='12%'><%= d.vorgang_art %></td>
                      <td align='center' width='7%'><%= d.aufwands_nummer %></td>
                      <td align='center' width='15%'><%= d.verwendungszweck %></td>
                    </tr>
                  <% end %>
                  <tr>
                  <td align='center'><b>Summe</b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td align='center'><b><%= "%.2f" % sum_brutto %> €</b></td>
                  <td align='center'><b><%= "%.2f" % sum_mmk %> €</b></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
  <% end %>
</div>

<script src="theme/js/jquery.min.js"></script>

<script>

$("#m li").click(function(){
  p_bar.style.display = '';
  var progress = $(".loading-progress").progressTimer({
    timeLimit: 3,
  });
  $.ajax({
    type: "POST",
    url: "ExportMyanmar",
    data: $('form.form-horizontal').serialize() + "&kind=" + this.id,
    success: function(file){
      progress.progressTimer('complete');
      window.location.href = file;
      p_bar.style.display = 'none';
    },
    error: function(){
      warningStyle: 'progress-bar-danger'
    }
  });
});
</script>
