<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nila-CRM</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme/css/bootstrap.min.css" />
    <link rel="stylesheet" href="theme/css/font-awesome.css" />
    <link rel="stylesheet" href="theme/css/unicorn-login.css" />
    <script type="text/javascript" src="theme/js/respond.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="logo">
        <a href="/Login"><img src="nila_logo.png" alt="" /></a>
      </div>

      <div id="loginbox">
        <% if @crm_user %>
          <form id="loginform" action="/ResetPass" method="post">
            <p>Bitte ein neues Passwort angeben.</p>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" name="pwd1" id="pwd1" placeholder="Passwort" required/>
            </div>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" name="pwd2" id="pwd2" placeholder="Passwort wiederholen" required/>
            </div>

            <input type="hidden" id="hash" name="hash" value="<%= @crm_user.login %>"/>

            <div class="form-actions clearfix">
              <input type="submit" class="btn btn-block btn-primary btn-default" value="abschicken" />
            </div>
          </form>
        <% else %>
          <p><font color="red">Diese URL ist nicht mehr gültig</p> </font>
        <% end %>
      </div>
    </div>
  </body>
</html>

<script src="theme/js/jquery.min.js"></script>

<script>
$("#loginform").submit(function(ev) {
    ev.preventDefault();
    var pwd1 = document.getElementById('pwd1').value;
    var pwd2 = document.getElementById('pwd2').value;

    if (pwd1.length < 6 || pwd1 != pwd2){
      alert('Die Passwörter stimmen nicht überein, oder sind zu kurz');
      return false;
    }

    this.submit();
});
</script>
