<div class="widget-box">
  <div class="widget-content nopadding">
    <div class="container-fluid">
      <div class="row <%= @orphans.empty? ? 'hide' : '' %>">
        <div class="col-xs-12">
          <div class="widget-box">
            <div class="widget-title">
              <span class="icon">
                <i class="fa fa-th"></i>
              </span>
              <h5>Patenkinder</h5>
            </div>
            <div class="widget-content nopadding">
              <table class="table table-bordered table-striped table-hover data-table" id="User">
                <thead>
                <tr>
                  <th width='20%'>Name</th>
                  <th width='20%'>Geschlecht</th>
                  <th width='20%'>Pate</th>
                  <th width='20%'>Waisenhaus</th>
                  <th width='8%' data-sortable="false"></th>
                  <th width='8%' data-sortable="false"></th>
                  <th width='8%' data-sortable="false"></th>
                </tr>
                </thead>
                <tbody>
                <% godfathers = Contact.all %>
                <% @orphans.each do | o | %>
                  <% next if o.id < 0 %>
                  <% godfather = godfathers.find { |g| g.orphan_id == o.id } %>
                  <% name = godfather.name.presence || godfather.se_name if godfather %>
                  <tr id="<%= o.id %>">
                    <td align='center'><%= o.name %></td>
                    <td align='center'><%= o.geschlecht %></td>
                    <td align='center'>
                      <% if godfather %>
                        <a href="ContactInfo?id=<%= godfather.id %>" data-toggle="modal" data-target="#infoModal_godfather_<%= godfather.id %>">
                          <%= godfather.vorname %> <%= name %>
                        </a>
                      <% end %>
                    </td>
                    <td align='center'><%= Contact.where(id: o.waisenhaus).first.name if o.waisenhaus %></td>
                    <td align='center'><a href="/OrphanInfo?id=<%= o.id %>" data-toggle="modal" data-target="#infoModal_orphan_<%= o.id %>">Info</a></td>
                    <td align='center'><a href="/EditOrphan?id=<%= o.id %>" data-toggle="modal" data-target="#editModal_<%= o.id %>">Edit</a></td>
                    <td align='center'>
                      <% if godfather %>
                        Löschen
                      <% else %>
                        <a href="#" onclick="del_orphan(<%= o.id %>, '<%= o.name %>')">Löschen</a>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <% @orphans.each do | o | %>
                <% godfather = godfathers.find { |g| g.orphan_id == o.id } %>
                <div id="infoModal_orphan_<%= o.id %>" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                  </div>
                </div>
                <div id="editModal_<%= o.id %>" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                  </div>
                </div>
                <% next unless godfather %>
                <div id="infoModal_godfather_<%= godfather.id %>" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<script src="theme/js/jquery.min.js"></script>

<script>
  function del_orphan(id, name){
    if (confirm("Wolllen sie das Waisenkind '" + name + " ' wirklich löschen?")) {
      $.ajax({
        type: 'POST',
        url: 'DelOrphan',
        data: 'id=' + id,
        success: function(){
          document.getElementById(id).style.display = 'none';
        },
        error: function(){
          alert("Fehler bei der Verarbeitung")
        }
      });
    }
  }
</script>
