<%= erb :_html_header %>

<div class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" onclick="close_modal(<%= @orphan.id %>)" aria-hidden="true">&times;</button>
    <div class="row">
      <div class="col-xs-12 center" style="text-align: center;">
        <div style="text-align: center;">
          <h4 class="modal-title"><%= @orphan.name %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 center" style="text-align: center;">
          <div class="widget-box">
            <div class="widget-content nopadding">
              <% @sections.select { |se| se.kind == 'op' }.each do |s| %>
              <% next if s.positions.all? { |p| @orphan.send(p.name).to_s.empty? } %>
                <div class="form-group">
                  <label class="col-sm-3 col-md-3 col-lg-5 control-label"><font color="black" size="3"><%= s.name %></font></label>
                </div>
                <% s.positions.order('pos').each do |p| %>
                  <% value = @orphan.send p.name unless p.name == 'pate' %>
                  <% next if value.to_s.empty? %>
                  <% add = '' %>
                  <% if p.name == 'waisenhaus' %>
                    <% c = Contact.where(id: value).first %>
                    <% value = c.name.presence || c.se_name  if c %>
                    <% add = c.vorname if c %>
                  <% end %>
                  <% if p.name == 'pate' %>
                    <% c = Contact.where(orphan_id: @orphan.id).first %>
                    <% value = c.name.presence || c.se_name  if c %>
                    <% add = c.vorname if c %>
                  <% end %>
                  <div class="form-group">
                    <label class="col-sm-4 col-md-5 col-lg-5 control-label"><%= p.displayname %></label>
                    <div class="col-sm-9 col-md-9 col-lg-4">
                      <%= value %> <%= add %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function close_modal(id){
    $("#infoModal_orphan_" + id).modal("hide")
  }
</script>
