<div class="widget-box">
  <div class="widget-content nopadding">
    <div class="container-fluid">
      <div class="row <%= @crm_user.empty? ? 'hide' : '' %>">
        <div class="col-xs-12">
          <div class="widget-box">
            <div class="widget-title">
              <span class="icon">
                <i class="fa fa-th"></i>
              </span>
              <h5>CRM-User</h5>
            </div>
            <div class="widget-content nopadding">
              <table class="table table-bordered table-striped table-hover data-table" id="User">
                <thead>
                <tr>
                  <th width='40%'>Username</th>
                  <th width='30%'>eMail</th>
                  <th width='4%' data-sortable="false">Rolle</th>
                  <th width='8%' data-sortable="false"></th>
                  <th width='8%' data-sortable="false"></th>
                </tr>
                </thead>
                <tbody>
                <% @crm_user.each do | c | %>
                  <tr id="<%= c.id %>">
                    <td align='center'><%= c.username %></td>
                    <td align='center'><%= c.email %></td>
                    <td align='center'><%= c.permission_level %></td>
                    <td align='center'><a href='/EditUser?id=<%= c.id %>' data-toggle="modal" data-target="#editModal_<%= c.id %>">Edit</a></td>
                    <td align='center'><a href="#" onclick="del_user(<%= c.id %>, '<%= c.username %>')">Löschen</a></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<% @crm_user.each do | c | %>
  <div id="editModal_<%= c.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>
<% end %>

<script src="theme/js/jquery.min.js"></script>

<script>
  function del_user(id, username){
    if (confirm("Wolllen sie den user '" + username + " ' wirklich löschen?")) {
      $.ajax({
        type: 'POST',
        url: 'DelUser',
        data: 'id=' + id,
        success: function(){
          document.getElementById(id).style.display = 'none';
        },
        error: function(){
          alert("Fehler bei der Verarbeitung")
        }
      });
    }
  }
</script>
